html {
  height: 100%;
}

body {
  background-image: url('./images/fond-page.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  background-size: cover;
  font-family: sans-serif;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#centerPokemonCard {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 50px;
}
  
#logo {
  min-width: 350px;
  padding-bottom: 10%;
}

#allPokemons {
  width: 350px;
  min-height: 500px;
  max-height: 550px;
  padding: 20px 20px 40px 20px;
  color: #000;
  border: 4px solid #FFE557;
  border-radius: 8px;
}

#pokemonHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

#pokemonHead h1 {
  display: flex;
  align-content: flex-start;
}

#allPokemons h2, #pokemonHead h1 {
  font-size: 15px;
}

#pokemonImageBackground {
  object-fit: cover;
  height: 200px;
  max-width: 350px;
  border: 1px solid rgb(0, 0, 0);
  margin: 0px 0px 15px 0px; 
  background-image: url('./images/fond-carte.jpg');
}

#pokemonFigure {
  position: absolute;
  top: 43%;
  left: 46%;
}

#pokemonAbilities div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

#pokemonAbilities p {
  text-align: left;
  font-size: x-small;
  margin: 0px;
}


#leftPokemonCards, #rightPokemonCards {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}

.number {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 20px 0 20px 0;
}

.number h1 {
  margin: 0px;
  font-style: bold;
}

#firstPokemonCard, #secondPokemonCard, #thirdPokemonCard, #fourthPokemonCard, #fivePokemonCard, #sixPokemonCard {
  width: 100px;
  height: 150px;
  padding: 5px 5px 10px 5px;
  color: #000;
  border: 4px solid #FFE557;
  border-radius: 8px;
  background-color: white;
  margin: 25px;
}

.borderPokemonCard {
  border: 7px solid rgba(255, 255, 255, 0.3);
}

#pokemonAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 70px;
}

button {
  border: none;
  border-radius: 8px;
  box-shadow: #000;
  padding: 10px;
  margin: 25px 0 0 0;
  width: 350px;
  height: 40px;
}

#start {
  background-color: #FFCB05;
}

#stop {
  background-color: #CB5252;
  color: #FFFFFF;
}