html {
  height: 100%;
}

body {
  background-image: url('./images/fond-page.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  font-family: sans-serif;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
  
#logo {
  max-width: 350px;
  padding-bottom: 3%;
}

#allPokemons {
  width: 350px;
  min-height: 500px;
  max-height: 550px;
  text-align: center;
  padding: 20px 20px 40px 20px;
  color: #000;
  border: 4px solid #FFE557;
  border-radius: 8px;
}

#pokemonHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

#pokemonHead h1 {
  display: flex;
  align-content: flex-start;
}

#allPokemons h1, h2 {
  font-size: 15px;
}

#pokemonImageBackground {
  position: relative;
  height: 200px;
  border: 1px solid rgb(0, 0, 0);
  background-image: url('./images/fond-carte.jpg');
  margin: 0px 0px 15px 0px;
}
  
#allPokemons img {
  position: absolute;
  top: 43%;
  left: 47%;
}

#pokemonAbilities div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

#pokemonAbilities p {
  text-align: left;
  font-size: x-small;
  margin: 0px;
}