html {
  height: 100%;
}

body {
  background-image: url('./images/fond-page.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  background-size: cover;
  font-family: sans-serif;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#centerPokemonCard {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 50px;
  max-width: 300px;
}
  
#logo {
  padding-bottom: 10%;
}

#center {
  border: 4px solid #FFE557;
  border-radius: 8px;
}

#allPokemons {
  height: 400px;
  padding: 20px 20px 40px 20px;
}

#pokemonHead, #choosenPokemon div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

h2 {
  display: flex;
  align-content: flex-start;
}

h2, h3 {
  font-size: 8%;
}

#pokemonImage, #choosenPokemon div:nth-child(2) {
  padding: 0%;
  margin: 0%;
}

#pokemonImageBackground {
  object-fit: cover;
  height: 30%;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  margin: 0px 0px 5% 0px; 
}

#pokemonFigure {
  position: absolute;
  top: 33%;
  left: 47%;
}

#pokemonAbilities div, #choosenPokemon div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

p {
  text-align: left;
  margin: 0px;
  font-size: 10%;
}

#leftPokemonCards, #rightPokemonCards {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}

.number {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 10% 0 10% 0;
}

.number h1 {
  margin: 0px;
  font-style: bold;
  font-size: large;
  justify-content: center;
}

#firstPokemonCard, #secondPokemonCard, #thirdPokemonCard, #fourthPokemonCard, #fivePokemonCard, #sixPokemonCard {
  width: 100px;
  height: 150px;
  color: #000;
  border: 4px solid #FFE557;
  border-radius: 8px;
  background-color: white;
  margin: 25px;
}

.borderPokemonCard {
  border: 7px solid rgba(255, 255, 255, 0.3);
}

#choosenPokemon {
  height:100%; 
  width:100%;
}

#pokemonAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
}

button {
  border: none;
  border-radius: 8px;
  box-shadow: #000;
  padding: 10px;
  margin: 25px 0 0 0;
  width: 100%;
  height: 40px;
}

#start {
  background-color: #FFCB05;
}

#stop {
  background-color: #CB5252;
  color: #FFFFFF;
}